<div class="container">
   
    <form id="form" >
        <img src="../../../assets/logo-green.png">
        <h1>Faça seu login</h1>
    
        <mat-form-field class="full-width" appearance="fill">
          <mat-label class="color">E-mail</mat-label>
          <input 
          required
          [(ngModel)]="creds.email"
          [formControl]="email"
           name="email"
           matInput
          
         >
        </mat-form-field>

          <mat-form-field id="field" class="full-width">
            <mat-label class="color">Senha</mat-label>
            <input
            [(ngModel)]="creds.password"
            [formControl]="password"
             required matInput [type]="hide ? 'password' : 'text'" 
             name="password" type="password">
            <span class="eyes" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </span>
          </mat-form-field>

      <button 
        [disabled]="!fieldValidator()" 
        mat-stroked-button
        class="full-width"
        (click)="logar()"
        >
           <span>ENTRAR</span>
      </button>
      </form>
      
</div>
