
<div class="container">
    
    <form class="form">
        <h1>Atualizar Endereço</h1>

            <mat-form-field appearance="fill">
              <mat-label>Endereço</mat-label>
              <mat-icon matSuffix>
                <span class="material-icons-outlined"> drive_file_rename_outline </span>
             </mat-icon>
              <textarea 
              [(ngModel)]="adress.adress"
               name="adress"
               matInput >
              </textarea>
            </mat-form-field>
          
         <div class="buttons">
            <button (click)="update()" mat-button color="primary" >Atualizar</button>
            <button (click)="goBack()" mat-button color="warn">Voltar</button>
          </div>
          
    </form>
    <div class="aside">
        <img src="../../../../assets/create.svg" alt="">
    </div>
</div>


