<div class="container" >
  <button class="print" (click)="printPaymentPDF()">
    <mat-icon>print</mat-icon>
  </button>   

  <div id="content" #content class="folha a4_vertical a4_horizontal">
    <div class="form">
      <div class="form-header">
        <h1>RECIBO</h1>
        <img class="logo" src="../../../../assets/identidade/logo-semfundo-50.png">

      </div>
    
        
            <div class="full-width">
                <mat-label>TITULO:</mat-label>
              <span>
                {{payment.title}}
              </span>
            </div>

            <div class="full-width">
              <mat-label>VALOR:</mat-label>
            <span>
              R$ {{payment.cash}}.00
            </span>
          </div>

          <div class="full-width">
            <mat-label>TIPO PAGAMENTO:</mat-label>
          <span>
            {{modePayment(payment.modePayment)}}
          </span>
        </div>

        <div class="full-width">
          <mat-label>DATA ABERTURA:</mat-label>
        <span>
          {{payment.datePayment}}
        </span>
      </div>

      <div class="full-width">
        <mat-label>SITUAÇÃO:</mat-label>
      <span>
        {{modePayment( payment.situation)}}
      </span>
    </div>

    <div class="full-width">
      <mat-label>DATA FECHAMENTO:</mat-label>
    <span>
      {{payment.finishPayment}}
    </span>
  </div>

  <div class="full-width">
    <mat-label>NOME:</mat-label>
  <span>
    {{payment.personName}}
  </span>
</div>
<div class="full-width">
  <mat-label>ENDEREÇO:</mat-label>
<span>
  {{payment.adress}}
</span>
</div>

<div class="full-width">
  <mat-label>OBSERVAÇÕES:</mat-label>
<span>
  {{payment.obs}}
</span>
</div>
<p class="site"><a href="https://recantodeitapua.com.br">https://recantodeitapua.com.br</a></p>
    </div>  
    
</div>

</div>
