.container {
    width:700px; 
    min-width: 700px;
    margin: 1px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    padding-left: .5rem;
    background-color: #DDA329 ;
 
}


.form {
    margin-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: .5rem;
    background-color: #FFF;
    width: 550px;
    border: 1px solid #000;
    padding-left: .5rem;

}

.form-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: .5rem;
}

.logo {
    width: 100px;
    height: 80px;
    
  

}


.print {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #69553B;
    outline: none;
    border: none;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
    align-self: flex-end;
    margin: .5rem;
}


h3{

    text-align: center;
    font-size: 1rem; 
}

h1 {
    width: 100%;
}
mat-label {
    color:#69553B;
    font-size: .7rem;
    font-weight: bold;
}
span {
    font-size: .9rem;
    font-weight:400;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.site {
    width: 100%;
    color: blue;
    text-align: center;
}
