
<div class="container">
    
    <form class="form">
        <h1>Cadastrar Endereço</h1>

            <mat-form-field appearance="fill">
              <mat-label>Endereço</mat-label>
              <mat-icon matSuffix>
                <span class="material-icons-outlined"> drive_file_rename_outline </span>
             </mat-icon>
              <textarea 
              [(ngModel)]="adress.adress"
               name="endereco"
               matInput >
              </textarea>
            </mat-form-field>

            <mat-form-field appearance="fill" >
                <mat-label>Selecione um residente</mat-label>
                <mat-select
                 name="person"
                 [(ngModel)]="adress.person"
                 
                  >
                    <mat-form-field>
                        <mat-label>Pesquisar</mat-label>
                        <input     matInput (input)="residentFilter($event)" placeholder="Buscar um residente"  #input>
                      </mat-form-field>
                  <mat-option *ngFor="let resident of residents"
                     value="{{resident.id}}">{{resident.name}}
                    </mat-option>
                </mat-select>
             </mat-form-field>

          
         <div class="buttons">
            <button (click)="create()" mat-button color="primary" >Cadastrar</button>
            <button (click)="goBack()" mat-button color="warn">Voltar</button>
          </div>
          
    </form>
    <div class="aside">
        <img src="../../../../assets/create.svg" alt="">
    </div>
</div>


