  <div class="container" >
    <button class="print" (click)="printPaymentPDF()">
      <mat-icon>print</mat-icon>
    </button>   

    <div id="content" #content class="folha a4_vertical a4_horizontal">
      <div class="form"  *ngFor="let element of ELEMENT_DATA | paginate: { itemsPerPage: 2, currentPage: p }">
        <h3>Associação Comunitária Dos Moradores Do Loteamento Recanto De Itapuã</h3>
        <h1>RECIBO</h1>
          
              <div class="full-width">
                  <mat-label>TITULO:</mat-label>
                <span>
                  {{element.title}}
                </span>
              </div>
  
              <div class="full-width">
                <mat-label>VALOR:</mat-label>
              <span>
                R$ {{element.cash}}.00
              </span>
            </div>
  
            <div class="full-width">
              <mat-label>TIPO PAGAMENTO:</mat-label>
            <span>
              {{modePayment(element.modePayment)}}
            </span>
          </div>
  
          <div class="full-width">
            <mat-label>DATA ABERTURA:</mat-label>
          <span>
            {{element.datePayment}}
          </span>
        </div>
  
        <div class="full-width">
          <mat-label>SITUAÇÃO:</mat-label>
        <span>
          {{situationReturn( element.situation)}}
        </span>
      </div>
  
      <div class="full-width">
        <mat-label>DATA FECHAMENTO:</mat-label>
      <span>
        {{element.finishPayment}}
      </span>
    </div>
  
    <div class="full-width">
      <mat-label>NOME:</mat-label>
    <span>
      {{element.personName}}
    </span>
  </div>
  <div class="full-width">
    <mat-label>ENDEREÇO:</mat-label>
  <span>
    {{element.adress}}
  </span>
</div>

  <div class="full-width">
    <mat-label>OBSERVAÇÕES:</mat-label>
  <span>
    {{element.obs}}
  </span>
 </div>
 <p class="site"><a href="https://recantodeitapua.com.br">https://recantodeitapua.com.br</a></p>
      </div>  
      
  </div>
 

  <div class="pagination">        
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
 
</div>
  
  