  <div class="container" >
    <button class="print" (click)="printPaymentPDF()">
      <mat-icon>print</mat-icon>
    </button>   

    <div id="content" #content >
      <form class="form"  *ngFor="let element of ELEMENT_DATA">
        <h3>Associação Comunitária Dos Moradores Do Loteamento Recanto De Itapuã</h3>
          
              <div class="full-width">
                  <mat-label>PAGAMENTO:</mat-label>
                <input
                [disabled]="true"
                [(ngModel)]="element.title"
                name="title"
                 matInput
                >
              </div>
  
              <div class="full-width">
                  <mat-label>VALOR:</mat-label>
                  <input
                  [(ngModel)]="element.cash"
                  name="payment"
                  matInput
                  [disabled]="true"
                   >
              </div>
  
              <div class="full-width">
                <mat-label>PAGAMENTO:</mat-label>
                <input
                [value]="modePayment(element.modePayment)"
                name="modePayment"
                matInput
                [disabled]="true"
                 >
            </div>
  
              <div class="full-width">
                  <mat-label>DATA DE ABERTURA:</mat-label>
                  <input
                  [(ngModel)]="element.datePayment"
                  name="datePayment"
                   matInput
                   [disabled]="true"
                  >
                </div>
  
              <div appearance="fill" >
                  
                  <mat-label>SITUAÇÃO:</mat-label>
                  <input
                  [value]="situationReturn(element.situation)"
                  name="situation"
                  matInput
                  [disabled]="true"
                  >
               
               </div>
  
               <div class="full-width">
                  <mat-label>DATA FECHAMENTO:</mat-label>
                  <input
                  [(ngModel)]="element.finishPayment"
                  name="finishPayment"
                   matInput
                   [disabled]="true"
                  >
                </div>
  
               <div appearance="fill" >
                  <mat-label>NOME</mat-label>
                  <input
                   name="personName"
                   [(ngModel)]="element.personName"
                   matInput
                   [disabled]="true"
                   
                    >
               </div>

               <mat-form-field class="full-width">
                <mat-label>Observações</mat-label>
                <input
                [(ngModel)]="element.obs"
                name="obs"
                 matInput
                >
              </mat-form-field>
      </form>
      <div class="buttons">
       
      </div>
     
  </div>
</div>
  
  